/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html, body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

/* navbar css  */
.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: white; */
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-links li{
    margin: auto 30px;
}
.nav-links li a{
    text-decoration: none;
    color:whitesmoke;
}

.nav-links li a:hover{
    text-decoration: underline;
    color:rgb(206, 13, 51);
    transition: 0.2s;
}

.ctn a:hover {
    text-decoration: underline; 
    color: whitesmoke !important;
    transition: 0.2s;
}

.ctn:hover {
    text-decoration: underline; 
    color: whitesmoke !important;
    transition: 0.2s;
}

/* header css */
header{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/header-bg.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: white;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 170px;
    height: 4px;
    background-color: rgb(206, 13, 51);
    margin: 10px auto;
    border-radius: 10px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 30px
}

.ctn{
    color: white;
    background-color: rgb(206, 13, 51);
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: lighter;
}

/* events section css   */
.events{
    width: 80%;
    /* align-items: center; */
    margin: 70px auto;
    /* display: flex; */
    
}

.events div{
    text-align: center;
}
.events div h4{
    font-size:  6vmin;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #484872;
    text-transform: uppercase;

}

.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.col{
    /* width:   ; */
    align-items: center;
    text-align: center;
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.col img{
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    /* margin: 20px; */
}

.col h4{
    margin: 20px auto;
    margin-bottom: -2px;
    font-size: 3.5vmin;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(206, 13, 51);

}

.col p{
    font-weight: lighter;
    width: 70%;
    color: #7c7c7c;
}

.col .line{
    width: 15%;
    margin-bottom: 20px;
}

.col button{
    margin: 25px auto;
    border-radius: 15px;
    background-color: rgb(231, 21, 63);;
}

.explore{
    background-image: url(/img/bg2.png);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
}

.explore-content{
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 10em;
    color: whitesmoke;

}

.explore-content h4{
    font-size: 7vmin;
    text-transform: uppercase;
    word-spacing: 2px;
}

.explore-content p{
    margin: 40px ;
}

/* tours section  */
.tours{
    display: flex;
    width: 90%;
    margin: 90px auto;
    justify-content: space-evenly;
}

.tours .left-side{
    width: 40%;
}

.tours .left-side h1{
    font-size: 8vmin;
    text-align: left;
    word-spacing: 3px;
    font-weight: bolder;
    line-height: 60px;
    margin-top: 5px;
    text-transform: uppercase;
    color: #484872;
}
.tours .left-side .line{
    display: flex;
    text-align: left;
}
.tours .left-side p{
    /* text-align: left; */
    width: 85%;
    margin-top: 50px;
    font-size: 18px;
    line-height: 32px;
}

.tours .left-side button{
    margin-top: 40px;
}
.tours .right-side{
    width: auto;
    display: flex;

}

.tours .right-side img{
    width: 17em;
    margin: 10px;
    height: 17em;
    border: 2px solid white;
    border-radius: 10px;
}

.tours .right-side .rows{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.tours .right-side .cols{
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

footer{
width: 100%;
background-color: #484872;
height: 15vh;
display: flex;
align-items: center;
justify-content: center;
}
footer h3{
    color: whitesmoke;
    word-spacing: 3px;
}

@media only screen and (max-width:1161px){
    .tours .left-side p{
        /* text-align: left; */
        width: 85%;
        margin-top: 50px;
        font-size: 17px;
        line-height: 30px;
    }
    
    .tours .left-side button{
        margin-top: 35px;
    }
    
}

@media only screen and (max-width:1161px){
    .tours .left-side p{
        /* text-align: left; */
        width: 85%;
        margin-top: 50px;
        font-size: 15px;
        line-height: 28px;
    }
    
    .tours .left-side button{
        margin-top: 35px;
    }
    
}

@media only screen and (max-width:964px){
    .tours .left-side p{
        /* text-align: left; */
        width: 85%;
        margin-top: 45px;
        font-size: 15px;
        line-height: 25px;
    }
    
    .tours .left-side button{
        margin-top: 30px;
    }

    .tours .right-side img{
        width: 15em;
        margin: 10px;
        height: 15em;
        border: 2px solid white;
        border-radius: 10px;
    }
    
}

@media only screen and (max-width:920px){
    
    .nav-links li{
        margin: auto 20px;
    }
    
    .tours .left-side h1{
        font-size: 6vmin;
        text-align: left;
        word-spacing: 3px;
        font-weight: bolder;
        line-height: 40px;
        margin-top: 7px;
        text-transform: uppercase;
        color: #484872;
    }

    .tours .left-side p{
        /* text-align: left; */
        width: 85%;
        margin-top: 30px;
        font-size: 15px;
        line-height: 25px;
    }
    
    .tours .left-side button{
        margin-top: 30px;
    }

    .tours .right-side img{
        width: 13em;
        margin: 6px;
        height: 13em;
        border: 2px solid white;
        border-radius: 10px;
    }
    
}

@media only screen and (max-width:858px){
    
    .nav-links li{
        margin: auto 20px;
    }
    
    .tours .left-side h1{
        font-size: 6vmin;
        text-align: left;
        word-spacing: 3px;
        font-weight: bolder;
        line-height: 40px;
        margin-top: 8px;
        text-transform: uppercase;
        color: #484872;
    }

    .tours .left-side p{
        /* text-align: left; */
        width: 85%;
        margin-top: 30px;
        font-size: 15px;
        line-height: 20px;
    }
    
    .tours .left-side button{
        margin-top: 30px;
    }

    .tours .right-side img{
        width: 13em;
        margin: 6px;
        height: 13em;
        border: 2px solid white;
        border-radius: 10px;
    }
    
}

@media only screen and (max-width:800px){
    
    .nav-links li{
        margin: auto 16px;
    }
}

@media only screen and (max-width:756px){
    
    .nav-links li{
        margin: auto 14px;
    }
    
    .tours .left-side h1{
        font-size: 4vmin;
        text-align: left;
        word-spacing: 3px;
        font-weight: bolder;
        line-height: 35px;
        margin-top: 8px;
        text-transform: uppercase;
        color: #484872;
    }

    .tours .left-side p{
        /* text-align: left; */
        width: 85%;
        margin-top: 25px;
        font-size: 13px;
        line-height: 20px;
    }
    
    .tours .left-side button{
        margin-top: 25px;
    }

    .tours .right-side img{
        width: 11em;
        margin: 6px;
        height: 11em;
        border: 2px solid white;
        border-radius: 10px;
    }
    
}